.myDrawer.rs-drawer-full.rs-drawer-bottom {
  height: calc(100% - 200px);
}

.home {
  padding: 15px;
}

.right {
  height: 100%;
  width: 300px;
  position: absolute;
  background-color: #f7f7fa;
  right: 0px;
  margin-top: -15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.right .user-details {
  list-style: none;
  margin-top: 60px;
  width: 100%;
  padding: 0px;
}

.right .user-details li{
  padding: 15px;
  width: 100%;
  text-align: left;
  border-top: 1px solid gray;
  font-size: 14px;
}

.right .user-details li:last-child{
  border-bottom: 1px solid gray;
}

.right button {
  margin-top: 10px;
}

.home .sb-avatar__image {
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 20px;
}


.home h1 {
  padding-bottom: 15px;
  padding-left: 30px;
}

.home .graf h2 {
  padding-bottom: 15px;
  padding-left: 40px;
}

.home > .row > .graf-number-1{
  margin-left: 30px;
}

.home .row {
  display: flex;
  justify-content: flex-start;
}

.home .row-1 {
  width: 50vw;
  justify-content: space-between;
}

.home .row .graf{
  margin-right: 15px;
}

.home .row .graf:last{
  margin-right: 0px;
}

.home .graf-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius:5px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-right: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
}

.home .graf-number:last {
  margin-right: 0px;
}

.home .graf-number.purple {
  background-color: #4b1992;;
}
