#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signup  h1 {
  padding: 20px;
}

#signup header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4b1992;
  box-shadow: 0 -3px 9px #000;
}

#signup form {
  width: 40vw;
  margin-bottom: 15px;
}

#signup form .rs-form-group.center {
  display: flex;
  justify-content: center;
}

#signup form .rs-form-control-wrapper {
  width: 100%;
}

#signup form .rs-form-control-wrapper .rs-input, #signup form .rs-form-control-wrapper .rs-input-number {
  width: 100%;
}

#signup .user-type-area {
  display: flex;
  justify-content: center;
}

#signup .user-type-area > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  width: 150px;
  border: 1px solid #e5e5ea;
  border-radius: 5px;
  padding: 15px;
}

#signup .user-type-area > div:hover, #signup .user-type-area > div.selected {
  border: 1px solid #8cc63f;
  color: #8cc63f;
}

#signup .user-type-area > div > span {
  padding-bottom: 15px;
}

#signup .user-type-area > div > i{
  font-size: 41px;
}

#signup .user-type-area > div:last {
  margin-right: 0px;
}


button.rs-btn-primary {
  background-color: #8cc63f;
}

button.rs-btn-primary:not(.rs-btn-disabled):hover,
button.rs-btn-primary.rs-btn-focus, button.rs-btn-primary:focus {
  background-color: #67922d;
}
