.navbar.rs-navbar.rs-navbar-default {
    background-color: #4b1992;
    color: #fff;
}

.navbar .logo {
  height: 60px;
}

.navbar a,.navbar a:focus, .navbar a:hover {
  text-decoration: none;
  color: #fff;
}

.navbar.rs-navbar.rs-navbar-default .rs-nav-item>.rs-nav-item-content {
  color: #fff;
}
